body{
      background-color:red;
  }
.row {
   
    height: 400px;
    
}
.card-body {

    height: 400px;
    
}
#card1 {
    margin-left: 100px;
    background-image: url("pizza.jpg");
    width: 3000x;
    height:360px;
    background-repeat: no-repeat;
   
}
#card2 {
    margin-left: 100px;
    background-image: url("burger2.jpg");
    width: 3000x;
    height:360px;
    background-repeat: no-repeat;
}
#card3 {
    margin-left: 100px;
    background-image: url("guacamole.jpg");
    width: 3000x;
    height:360px;
    background-repeat: no-repeat;
}
#card4 {
   margin-left: 100px;
    background-image: url("chiken.jpg");
    width: 3000x;
    height:360px;
    background-repeat: no-repeat;
}
#card5 {
    
}
#pinfo {
    color: rgb(240, 232, 232);
    font-style: oblique;
    font-family: fantasy;
    font-size: 250%;
    position: absolute;
    bottom: 0;
}
#btnbuy {
  background-color: rgb(199, 26, 26);
  color: black;
  border: 2px solid #b43322; /* Green */
  position: absolute;
  bottom: 0;
  right: 0 ;
}

  
